.col-md-5.dash {
    background: #0c91af;
    margin: 1%;
    padding: 3%;
    color: #fff;
    border-radius: 2%;  
    box-shadow: 6px 3px 3px 1px #888;
}
@media screen and (min-width: 480px) {
.row.dash22 {
    /* padding-left: 20px; */
    padding-left: 15px;
    padding-top: 13px;
}
}
.col-md-5.dash:hover {
    background: crimson;
    cursor: pointer;
    transition: 1s;
    box-shadow: 1px 1px 2px 1px #eee;
    border-radius: 2%;
    border-bottom-left-radius: -2%;
}
.row.dash1 {
    margin-left: 2%; 
margin-bottom: 10px;
}
.row.dash2 {
    margin-left: 2%;
}
.row.dash22 {
    padding-left: 20px;
    padding-top: 13px;
}
.row.dash11 {
}
a.adash {
    color: #fff;
}
a.adash:hover {
    target: none;
    text-decoration: none;
    color: #EBB;
}
button.btn.btn-infos {
    background: #343a40;
    color: #fff;
    cursor: pointer;
}