/* =====================================
* 		WooCommerce Single Page
========================================*/
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUOjIg1_i6t8kCHKm459WxZqh7p29NfpiOjk20.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUOjIg1_i6t8kCHKm459WxZqh7g29NfpiOjk20.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUOjIg1_i6t8kCHKm459WxZqh7r29NfpiOjk20.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUOjIg1_i6t8kCHKm459WxZqh7q29NfpiOjk20.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUOjIg1_i6t8kCHKm459WxZqh7k29NfpiOj.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZBg_z8fZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZBg_z-PZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZBg_z8_Zwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZBg_z8vZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZYgzz8fZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZYgzz-PZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZYgzz8_Zwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZYgzz8vZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxC7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRzS7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxi7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRxy7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z8fZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z-PZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z8_Zwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z8vZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZFgrz8fZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZFgrz-PZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZFgrz8_Zwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZFgrz8vZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZcgvz8fZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZcgvz-PZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZcgvz8_Zwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZbgjz8fZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZbgjz-PZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZbgjz8_Zwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZbgjz8vZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZSgnz8fZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZSgnz-PZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZSgnz8_Zwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZSgnz8vZwjimrq1Q_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRxC7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRzS7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRxi7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRxy7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRyS7m0dR9pA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    background-color: #fff;
    overflow-x: hidden;
}
div.backnow-login-register {
    position: relative;
    float: right;
    padding: 12px 0;
    line-height: 30px;
}
#main .subtitle-cover {
  margin-bottom: 44px;
}
#content .wpneo-list-details {
    margin-bottom: 44px;
    margin-top: 44px;
}
#content .video-container{
    margin-bottom: 8px !important;
}
#content .wpneo-tabs-menu li{
  padding-top: 20px;
  padding-bottom: 20px;
}
#recaptcha_login,#recaptcha_signup{
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.subtitle-cover.sub-title img {
    width: 48px;
}
.wpneo-single-short-description p.p1 {
    font-size: 16px;
    color: #918A8A;
}
#neo-progressbar > div {
    height: 5px;
    border-radius: 4px;
}
.lead.backnow-review-cont {
	padding-bottom: 22px;
    padding-top: 5px;
}
.backnow-review-cont .text-center {
    display: inline-block;
    transform: translate(50%, 0%);
    cursor: pointer;
}
.progressbar-content-wrapper .thm-progress-bar .backnow-review-cont {
    font-size: 16px !important;
}
.backnow-review-cont i {
    color: #33D3C0;
}
.product-template-default {
    background: #F7F7F9;
}
.wpneo-wrapper.backnow-tabs {
    background: #fff;
    display: inline-block;
    width: 100%;
}
.wpneo-tabs {
    overflow: hidden;
    clear: both;
}
.wpneo-wrapper ul {
    width: 100%;
    display: inline-block;
}
.backnow-tabs span.backnow-rewards {
    padding: 28px 0;
    display: inline-block;
}
.wpneo-list-details p {
    color: #979AA1;
    text-align: justify;
}
.wpneo-tabs .backnow-rewards a {
    font-size: 16px;
    color: #393C40;
}
.backnow-reward-cont {
    padding: 25px 30px 0;
}
.backnow-estimate-date {
    background: #EBEBF1;
    padding: 18px;
    text-align: center;
    margin-left: -30px;
    margin-right: -30px;
    font-size: 14px;
    color: #393C40;
    letter-spacing: 0.8px;
    line-height: 22px;
}
.tab-rewards-wrapper h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #393C40;
}
.backnow-galler-inner img {
    border: none !important;
}
.mailchil-container {
    margin-top: 25px;
}
.mchimp-newsletter p {
    font-size: 14px;
    color: #dedede;
    font-weight: 300;
    line-height: 18px;
}
.mchimp-newsletter .chimp-title {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 26px;
}
.social-share ul li {
    display: inline-block;
    text-align: right;
    padding: 0 0 0px 15px;
}
.copy-wrapper .social-share {
    text-align: right;
}
.footer-copyright img.enter-logo {
    margin-right: 10px;
    margin-top: -8px;
}
.footer-copyright span {
    font-size: 14px;
    font-weight: 300;
}
.footer-copyright {
    margin-top: 0;
}
.wpneo-single-sidebar button.wpneo_donate_button {
    border-radius: 3px;
}
.quantity_box {
    background: #fff;
    padding: 20px 30px 30px;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 5px;
}
.quantity_box span {
    color: #393C40;
    line-height: 20px;
    margin-bottom: 10px;
    display: block;
}
.modal .modal-body {
    padding: 20px !important;
}
.modal .modal-dialog, .wpneo-modal-content {
    max-width: 450px !important;
}
.modal .modal-text {
    margin-bottom: 0 !important;
}
.modal .modal-header {
    padding: 30px !important;
}
.quantity_box .qwpneo_donate_button {
    background: #33D3C0;
    border: none;
    padding: 10px 14px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 3px 3px 0px;
    margin-left: -5px;
}
.woocommerce-product-gallery__image {
    margin-bottom: 0 !important;
}
.wpneo-list-details {
    margin-bottom: 100px;
    margin-top: 0;
}
.wpneo-tab-content {
    padding-bottom: 0;
    color: #4A4A4A;
}
.woocommerce #reviews #comments h2 {
    font-size: 20px;
    line-height: 1.1em;
}
.woocommerce #reviews #comments h2 + p{
    margin-bottom: 0;
}
.woocommerce #review_form_wrapper .comment-reply-title{
    display: block;
    margin: 0;
    padding: 0;
}
.select_rewards_button{
    background-color: rgba(51, 211, 192, 0) !important;
    border-radius: 3px !important;
    padding: 0px 20px !important;
    border-color: rgba(51, 211, 192, 0) !important;
}
.select_rewards_button:hover{
    background-color: rgba(34, 193, 174, 0) !important;
    border-color: rgba(51, 211, 192, 0) !important;
}
span.backnow-rewards {
    font-weight: 400;
    font-size: 16px;
    color: #4C4C4C;
    outline: none;
    margin-bottom: 15px;
    display: block;
}

.video-container.pull-left{
    position: relative;
}
.wpneo-post-img .pup-up-video {
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    font-size: 80px;
}
.wpneo-campaign-summary .wpneo-campaign-creator-info-wrapper {
    display: none;
}
.wpneo-campaign-creator-avatar {
    width: 70px;
}
.wpneo-list-details .backnow-bio {
    overflow: hidden;
    background: #fff;
    width: 100%;
    border-radius: 4px;
    margin-top: 50px;
}

.thm-explore > a{
  font-size: 18px !important;
  line-height: 41px !important;
}
.backnow-login-register ul li a {
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    color: #676767;
    line-height: 30px;
}
/* a.backnow-dashboard {
  color: #999999 !important;
} */
.boxed_row .elementor-row{
  /* padding: 70px 0;
  background: #fff;
  margin: 50px 0;
  border-radius: 20px;
  border: 1px solid #f1f1f1; */
}
.boxed_row2 > div > .elementor-row{
  /* padding: 40px 0;
  background: #fff;
  margin: 50px 0;
  border-radius: 20px;
  border: 1px solid #f1f1f1; */
}
.iconbox_style{
  margin-bottom: 30px;
}
.iconbox_style .elementor-icon-box-icon{
  width: 80px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.iconbox_style .elementor-icon-box-content{
  width: calc(100% - 84px);
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.themeum-navbar-header{
  /* margin-left: -30px; */
}
.barcamp{
  background: #304ffe;
  height: 30px;
  position: relative;
  border-radius: 0px;
  z-index: 1;
}
.barcamp::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  z-index: 3;
  height: 30px;
  border-radius: 0px;
  background: #33d3c0;
}
.barcamp::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 30px;
  border-radius: 0px;
  z-index: 2;
  background: #f7941d;
}
.elementor-widget-container .themeum-tab-navigation li a.active {
    background-color: #fff;
    color: #33d3c0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none medium;
    border-bottom: 2px solid #34c4b2;
}
.elementor-widget-container .thm-btn{
    border-radius: 0;
}
.elementor-widget-container .progressbar-content-wrapper .thm-progress-bar .progress {
    height: 10px;
    border-radius: 0;
}
.elementor-widget-container .thm-progress-bar .progress-bar {
    height: 10px;
    border-radius: 0;
}
.elementor-widget-container .themeum-tab-inner{
    border: none medium;
    border-radius: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#wpneo-dashboard-form{
  position: relative;
}
#wpneo-image-show{
  display: none;
}
#wpneo-dashboard-form .wpneo-row {
    display: block;
    column-count: 2;
    column-gap: 25px;
}
#wpneo-dashboard-form  .wpneo-col6{
  -webkit-column-break-inside: avoid-column;
  page-break-inside: avoid;
  break-inside: avoid-column;
  max-width: 100%;
  padding: 0;
}
#wpneo-dashboard-form .wpneo-col6 .wpneo-shadow{
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.5);
}
.wpneo-buttons-group{
  position: absolute;
top: 0;
right: 25px;
}
span.backnow-icons {
    font-size: 44px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.subtitle-cover h2 {
    display: inline-block;
    vertical-align: middle;
}
.wp-crowd-submenu {
    width: 230px;
}
.wpneo-list-details .backnow-bio img {
    width: 44px !important;
    border-radius: 50%;
}
.backnow-bio-social .jssocials-shares .jssocials-share a {
    display: block;
    width: inherit;
    line-height: inherit;
    text-align: center;
    color: #CBCBCB;
    border-radius: 0;
    font-size: 16px;
    font-weight: 300;
}
.backnow-bio-social .jssocials-shares a {
    background: transparent;
}
.backnow-bio-social .jssocials-shares a:hover {
    background: transparent;
    color: #33D3C0;
}
.backnow-location {
    display: inline-block;
    float: left;
    padding-right: 20px;
}
#wpneo-tab-description .backnow-bio img{
    margin-bottom: 0;
    margin-top: 0;
}
#wpneo-tab-description .backnow-bio{
    padding: 16px 20px;
}
.wpneo-campaign-summary-inner .wpneo-location-wrapper {
    display: none;
}

.backnow-share {
    padding: 8px 14px;
}
button.btn-content-wrap {
    background: #3ad9c7;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
    color: #fff;
    margin-top: 5px;
}

.backnow-info-img a{
    padding-left: 10px;
}

.backnow-follow-us .wpneo-profile-about {
    margin-top: 12px;
    display: inline;
    width: 100%;
    font-size: 16px;
}
.backnow-follow-us .wpneo-profile-about .wpneo-social-link {
    margin-right: 15px;
    color: #CBCBCB;
}

.backnow-info-img, .backnow-share{
    float: left;
    display: inline;
    width: auto;
    overflow: hidden;
}

.wpneo-modal-content-inner {
    text-align: left;
}
.wpneo-modal-content-inner .wpneo-profile-left img {
    width: 110px !important;
}
/* .wpneo-profile-campaigns {
    position: absolute;
    margin-top: 30px;
} */
#bioinfo .wpneo-modal-content {
    margin: 0;
}
#bioinfo button.close {
    top: 12px;
    position: absolute;
    right: 10px;
}
div.wpneo-modal-wrapper-head h4 {
    text-align: left;
}
.video-container i.back-play-button {
    color: #fff;
    background: #3ad9c7;
    border-radius: 50%;
    transition: .3s;
}
.video-container i.back-play-button:hover {
    color: #fff;
    background: #1dc4e9;
}

.themeum-campaign-post .progressbar-content-wrapper {
    padding-top: 14px;
}
.backnow-bio-social.jssocials {
    padding: 10px 0;
}
.term-description {
    display: none;
}
.elementor-widget-thm-team .team-content2 {
    background-color: #6ec1e4;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
}
.team-content4 .team-content-title a {
    line-height: 24px;
}
#wpneo-tab-baker_list table tr th {
    font-weight: 500;
}

span.round-circle{
    height: 20px;
    width: 20px;
    margin-left: -47.5px;
}

/* search error */

.search-content{
    padding: 30px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background: #f5f5f5;
}

.search-content #searchform input[type="text"]{
    height: 50px;
    text-indent: 10px;
    font-weight: 300;
    border-radius: 4px;
}

.search-error-title{
  margin: 25px 0 30px;
}
#order_review #order_review_heading {
  padding: 0;
  margin-bottom: 45px;
  text-align: center;
}
#place_order{
  margin: 0 auto;
}
.woocommerce-checkout-review-order-table{
  border: hidden;
  text-align: center;
}
.woocommerce-checkout-review-order-table td,
.woocommerce-checkout-review-order-table th{
  border: hidden;
  width: 100%;
  display: block;
}
.woocommerce-checkout-review-order-table .product-name{
  font-weight: bold !important;
  text-align: center;
}
.woocommerce-checkout-review-order-table .product-total{
  text-align: center;
  padding-top: 0 !important;
}
.woocommerce-checkout-review-order-table svg{
  width: 30px;
  margin: 0 auto;
  display: block;
}
.woocommerce .woocommerce-checkout-review-order-table .order-total-title{
  font-weight: bold !important;
  text-align: center;
  padding-bottom: 10px !important;
}
.woocommerce .woocommerce-checkout-review-order-table .order-total-price{
  border: hidden;
  padding-top: 0;
  text-align: center;
}
.woocommerce .woocommerce-checkout-review-order-table .order-total-price strong{
  font-weight: normal;
}
.woocommerce .woocommerce-checkout-review-order-table .recurring-total th{
  padding-bottom: 10px !important;
}
.woocommerce .woocommerce-checkout-review-order-table .recurring-total td{
  padding-top: 0 !important;
  border: hidden;
  text-align: center;
}
.woocommerce .woocommerce-checkout-review-order-table .first-payment-date span{
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.wpneo-tabs-menu {
    background: #fff;
    display: inline-block;
    width: 100%;
    margin-top: 80px;
}
.wpneo-tabs-menu li{
    padding-left: 20px;
    padding-right: 20px;
}
.tab-rewards-wrapper .overlay{
  top: auto;
}
.tab-rewards-wrapper .overlay .cart{
  margin: 10px !important;
}
.woocommerce .wpneo-wrapper #content .wpneo-campaign-single-left-info .thumbnails div a {
  width: 100% !important;
}
.woocommerce .wpneo-wrapper #content .woocommerce-product-gallery__image {
  padding-right: 0 !important;
}
.elementor-icon-box-title { margin-bottom: 0.5rem !important; }
.elementor-icon-list-item:nth-child(1){
    background-image: url(../images/tick-1.png);
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-size: 20px;
}
.elementor-button .elementor-button-text {
    white-space: nowrap;

}
.elementor-icon-list-item:nth-child(2){
    background-image: url('../images/tick-2.png');
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-size: 20px;
}
.elementor-icon-list-item:nth-child(3){
    background-image: url('../images/tick-3.png');
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-size: 20px;
    padding-bottom: 10px !important;
}
.modal.show{
    overflow-y:scroll;
}
.form-row .label{
    display: block;
}
.form-row .woocommerce-input-wrapper{
    display: block;
    width: 100%;
}
.form-row .woocommerce-input-wrapper select,
.form-row .woocommerce-input-wrapper input,
.form-row .woocommerce-input-wrapper textarea{
    width: 100%;
}
.social-share .fa{
    font-family: Font Awesome\ 5 Brands;
}
.pull-right{
    float: right;
}
#page .slogin .the_champ_login_ul .theChampLoginButtonBackground {
    width: 100% !important;
}
/*** Add by Rain ***/
#nav_menu-4{ margin-top: 50px; }
.low-transparent.boxed_row2 > div > .elementor-row{ border: none; padding: 0; }
.thm-explore .thm-iconic-category li:nth-child(4){ display: none; }
.home .elementor-widget-backnow-product-tab ul li:nth-child(4){ display: none; }
iframe.ryv-popup-video{ width: 60% !important;  }
.ryv-popup-close{ display: none; }
#order_review #order_review_heading{ display: none; }
.icon_box_wrap .iconbox_style{ margin-bottom: 0; }
.icon_box_wrap .elementor-column-wrap{ padding-bottom: 25px !important; }
.icon_box_wrap .iconbox_style .elementor-icon-box-icon{ padding-right: 25px; }
.icon_box_wrap .iconbox_style.elementor-element-21f2fa24 .elementor-icon-box-icon{ padding-right: 0; }
@media screen and (max-width:1200px) {
    header .explore { flex: 0 0 33.333333%; }
}
@media screen and (max-width:991px) {
    body:not(.logged-in) header .button-menu button { display: none; }
    header .site-header-wrap .d-block { display: none !important; }
    header .button-menu { position: absolute; right: 15px; margin-top: 10px; padding-right: 0; }
    body.logged-in .menu-mobile { display: block !important; }
    body.logged-in .menu-mobile .backnow-search-wrap { display: none; }
    body.logged-in .menu-mobile ul .wp-crowd-parent > a { display: none; }
    body.logged-in .menu-mobile ul:before { display: none; }
    body.logged-in .button-menu .backnow-login-register { display: none; }
    body.logged-in .menu-mobile .backnow-login-register { line-height: 0; padding: 0; }
    body.logged-in .button-menu button { cursor: pointer; }
    body.logged-in .menu-mobile .wp-crowd-submenu { z-index: 100; left: auto; right: -20px; top: 0px; opacity: 1; visibility: visible; transform: none; width: 200px; -moz-box-shadow: 0 0 3px #ccc; -webkit-box-shadow: 0 0 3px #ccc; box-shadow: 0 0 3px #ccc; display: none; transition: none; }
    .thm-explore ul { -moz-box-shadow: 0 0 3px #ccc; -webkit-box-shadow: 0 0 3px #ccc; box-shadow: 0 0 3px #ccc; }
}
@media screen and (max-width:767px) {
   iframe.ryv-popup-video{ width: 100% !important;  }
   .learn-more .elementor-widget, .start-a-page .elementor-widget{ text-align: center; }
   .start-a-page a{ width: 171px !important; margin-left: -10px; }
   .icon_box_wrap .elementor-column{  width: 50%; }
}
@media screen and (max-width:480px) {
    .bottom-widget .widget.widget_nav_menu{
        text-align: center;
    }
    .icon_box_wrap .elementor-column{  width: 100%; }
    header .explore { padding-right: 0; }
    header .thm-explore { padding-right: 0; }
    header .thm-explore a { font-size: 15px !important; padding-bottom: 0; }
    header .thm-explore .fa-angle-down { display: none; }
    header .wrap-logo { padding: 0; position: relative; z-index: 10; text-align: center; }
    header .wrap-logo img { width: auto; max-width: 110px !important; margin-top: 10px; }
    div.backnow-login-register { padding-top: 10px; }
}
 a,.footer-wrap .social-share li a:hover,.bottom-widget .contact-info i,.bottom-widget .widget ul li a:hover, .latest-blog-content .latest-post-button:hover,.widget ul li a:hover,.widget-blog-posts-section .entry-title  a:hover,.entry-header h2.entry-title.blog-entry-title a:hover,.entry-summary .wrap-btn-style a.btn-style:hover,.main-menu-wrap .navbar-toggle:hover,.topbar .social-share ul >li a:hover,.woocommerce .star-rating span:before,.backnow-post .blog-post-meta li a:hover,.backnow-post .content-item-title a:hover, .woocommerce ul.products li.product .added_to_cart,
                                .woocommerce ul.products li.product:hover .button.add_to_cart_button,.woocommerce ul.products li.product:hover .added_to_cart, .woocommerce div.product p.price, .woocommerce div.product span.price, .product_meta .sku_wrapper span.sku, .woocommerce-message::before, .woocommerce a.remove,
                                .themeum-campaign-post .entry-category a:hover,
                                .themeum-campaign-post .entry-author a:hover,.themeum-campaign-post h3 a:hover,
                                .themeum-woo-product-details .product-content h4 a:hover,
                                .wpneo-campaign-creator-details p:first-child a:hover,
                                #mobile-menu ul li.active>a,#mobile-menu ul li a:hover,
                                .wpneo-listings-dashboard .wpneo-listing-content h4 a:hover,.wpneo-listings-dashboard .wpneo-listing-content .wpneo-author a:hover,
                                .wpneo-tabs-menu li.wpneo-current a,.tab-rewards-wrapper h3,
                                ul.wpneo-crowdfunding-update li .wpneo-crowdfunding-update-title,
                                .btn.btn-border-backnow,.entry-summary .wrap-btn-style a.btn-style,
                                .social-share-wrap ul li a:hover,.wpneo-tabs-menu li a:hover,.product-timeline ul li,.themeum-campaign-post h3 a:hover,.thm-btn.btn-bordered,.thm-btn:hover,
                                .btn.btn-backnow:hover,
                                input[type=submit]:hover,
                                input[type="button"].wpneo-image-upload:hover,
                                input[type="button"].wpneo-image-upload-btn:hover,
                                input[type="button"]#addreward:hover,
                                .wpneo-edit-btn:hover,
                                .wpneo-image-upload.float-right:hover,
                                .wpneo-save-btn:hover,
                                .dashboard-btn-link:hover,
                                #wpneo_active_edit_form:hover,
                                #addcampaignupdate:hover,
                                .wpneo_donate_button:hover,
                                .wpneo-profile-button:hover,
                                .select_rewards_button:hover,
                                .woocommerce-page #payment #place_order:hover,
                                .woocommerce input.button:hover,
                                input[type="submit"].wpneo-submit-campaign:hover,.themeum-campaign-img .thm-camp-hvr .thm-ch-icon,.comingsoon .social-share li a:hover,.team-content-title a:hover,.themeum-tab-category .thm-cat-icon,.themeum-tab-inner .themeum-campaign-post-content h3 a:hover.themeum-pagination .page-numbers>li:first-child a.prev:hover,
                                .themeum-pagination .page-numbers>li:last-child a.next:hover,
                                .page-numbers li.p-2.first span:hover,
                                .themeum-tab-inner .themeum-campaign-post-content h3 a:hover,
                                .themeum-campaign-exp-content h3 a:hover, .themeum-campaign-post h3 a:hover,.thm-explore ul li a:hover{ color: #33d3c0; }.woocommerce-tabs .wc-tabs>li.active:before, .team-content4, .classic-slider .owl-dots .active>span,
                            .project-navigator a.prev:hover,.project-navigator a.next:hover,.woocommerce #respond input#submit:hover,
                            .themeum-pagination .page-numbers li a:not(.prev):hover,.themeum-pagination .page-numbers li span.current,
                            .woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li span.current,
                            .form-submit input[type=submit], .woocommerce div.product span.onsale, .woocommerce-tabs .nav-tabs>li.active>a, .woocommerce-tabs .nav-tabs>li.active>a:focus, .woocommerce-tabs .nav-tabs>li.active>a:hover, .woocommerce a.button:hover, .woocommerce span.onsale, .woocommerce .product-thumbnail-outer a.ajax_add_to_cart:hover, .woocommerce .woocommerce-info, .woocommerce a.added_to_cart,.wpneo-pagination ul li span.current,
                            .wpneo-pagination ul li a:hover,.wpneo-links li a:hover, .wpneo-links li.active a,
                            ul.wpneo-crowdfunding-update li:hover span.round-circle,.themeum-product-slider .slick-next:hover,.themeum-product-slider .slick-prev:hover,
                            .backnow_wooshop_widgets .ui-slider-range,
                            .woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce .widget_price_filter .ui-slider-horizontal,.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
                            .backnow_wooshop_widgets .widget .button,.thm-progress-bar .progress-bar,.order-view .label-info,.post-meta-info-list-in a:hover, button.backnow-remind-me:hover,.thm-btn.btn-bordered:hover,.thm-progress-bar .progress-bar,.themeum-campaign-post .themeum-campaign-img::after,.themeum-campaign-post a.thm-love-btn.active,.progressbar-content-wrapper .thm-progress-bar .progress .progress-bar,.countdown-section,.mchimp-newsletter input[type=submit],#neo-progressbar>div,.themeum-campaign-time-exp .thm-progress-bar .progress .progress-bar,.wpneo-single-sidebar button.wpneo_donate_button,.thm-grid-list a.thm-love-btn:hover,
                            .thm-grid-list a.thm-love-btn.active,
                            .thm-btn, .themeum-campaign-post a.thm-love-btn:hover,
                            .subtitle-cover::before,
                            .widget .tagcloud a:hover,
                            .btn{ background: #33d3c0; }#wpneo-tab-reviews .submit{ background: #33d3c0!important; }a.wpneo-fund-modal-btn.wpneo-link-style1, .themeum-campaign-post .entry-title a:hover, .backnow-post .content-item-title a:hover, .modal .modal-content .modal-body input[type="submit"]:hover, .woocommerce form.woocommerce-ResetPassword.lost_reset_password .form-row input[type="submit"]:hover, .comments-area .comment-form input[type="submit"]:hover { color: #33d3c0!important; }input:focus, textarea:focus, keygen:focus, select:focus,.classic-slider.layout2 .classic-slider-btn:hover,
                            .classic-slider.layout3 .classic-slider-btn:hover,.classic-slider.layout4 .classic-slider-btn:hover,.portfolio-slider .portfolio-slider-btn:hover,.info-wrapper a.white, .woocommerce form.woocommerce-ResetPassword.lost_reset_password .form-row input[type="submit"], .comments-area .comment-form input[type="submit"]{ border-color: #33d3c0; }.wpneo-tabs-menu li.wpneo-current { border-bottom: 2px solid #33d3c0; }.wpcf7-submit,.project-navigator a.prev,.project-navigator a.next,
                                .woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li span.current,.portfolio-slider .portfolio-slider-btn,.wpcf7-form input:focus,
                                .btn.btn-border-backnow,
                                .btn.btn-border-white:hover{ border: 2px solid #33d3c0; }

                                .wpcf7-submit:hover, .classic-slider.layout2 .classic-slider-btn:hover,.classic-slider.layout3 .classic-slider-btn:hover,.classic-slider.layout4 .classic-slider-btn:hover,.classic-slider.layout4 .container >div,.portfolio-slider .portfolio-slider-btn:hover,
                            .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,.mc4wp-form-fields .send-arrow button, .themeum-woo-product-details .addtocart-btn .add_to_cart_button:hover, .themeum-woo-product-details .addtocart-btn .added_to_cart:hover,.post-meta-info-list-in a:hover, .wpneo-single-sidebar button.wpneo_donate_button,.thm-btn,.btn, .modal .modal-content .modal-body input[type="submit"]{   background-color: #33d3c0; border-color: #33d3c0; }.carousel-woocommerce .owl-nav .owl-next:hover,.carousel-woocommerce .owl-nav .owl-prev:hover,.themeum-latest-post-content .entry-title a:hover,.common-menu-wrap .nav>li.current>a,
                            .header-solid .common-menu-wrap .nav>li.current>a,.portfolio-filter a:hover,.portfolio-filter a.active,.latest-review-single-layout2 .latest-post-title a:hover, .blog-arrows a:hover, .mchimp-newsletter input[type=submit]{ border-color: #33d3c0;  }.woocommerce-MyAccount-navigation ul li.is-active, 
                            .woocommerce-MyAccount-navigation ul li:hover, 
                            .carousel-woocommerce .owl-nav .owl-next:hover, 
                            .carousel-woocommerce .owl-nav .owl-prev:hover, 
                            .portfolio-thumb-wrapper-layout4 .portfolio-thumb:before, 
                            .btn.btn-slider:hover, 
                            .btn.btn-slider:focus{ background: #33d3c0; border-color: #33d3c0; }.backnow-login-register a.backnow-dashboard:hover,.wpneo-single-sidebar .wpneo_donate_button:hover{
                                background: #00bf9c;
                            }.progressbar-content-wrapper .thm-progress-bar .progress .progress-bar,
                            .themeum-campaign-time-exp .thm-progress-bar .progress .progress-bar,
                            .product-slider-items .thm-progress-bar .progress .progress-bar{
                                background: #33d3c0;
                                background: -moz-linear-gradient(left, #00bf9c 0%, #33d3c0 100%);
                                background: -webkit-linear-gradient(left, #00bf9c 0%,#33d3c0 100%);
                                background: linear-gradient(to right, #00bf9c 0%,#33d3c0 100%);

                            }a:hover, .widget.widget_rss ul li a,.main-menu-wrap .navbar-toggle:hover,.footer-copyright a:hover,.entry-summary .wrap-btn-style a.btn-style:hover{ color: #00bf9c; }.error-page-inner a.btn.btn-primary.btn-lg:hover,.btn.btn-primary:hover,input[type=button]:hover,
                            .widget.widget_search #searchform .btn-search:hover,.team-content2,
                            .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,.order-view .label-info:hover{ background-color: #00bf9c; }.woocommerce a.button:hover{ border-color: #00bf9c; }body,.wpneo-wrapper{font-size:14px;font-family:Montserrat;font-weight: 300;line-height: 24px;color: #979aa1;}.common-menu-wrap .nav>li>a, .thm-explore ul li a, .thm-explore a, .common-menu-wrap .nav> li > ul li a, .common-menu-wrap .nav > li > ul li.mega-child > a{font-size:14px;font-family:Montserrat;font-weight: 300;line-height: 30px;color: #676767;}h1{font-size:42px;font-family:Montserrat;font-weight: 400;line-height: 42px;color: #414040;}h2{font-size:36px;font-family:Montserrat;font-weight: 400;line-height: 42px;color: #414040;}h3{font-size:26px;font-family:Montserrat;font-weight: 400;line-height: 28px;color: #414040;}h4{font-size:18px;font-family:Montserrat;font-weight: 600;line-height: 26px;color: #414040;}h5{font-size:16px;font-family:Montserrat;font-weight: 600;line-height: 24px;color: #414040;}.site-header{ background: #fff; }.backnow-overlay-cont .subtitle-cover::before{ background: #33d3c0; }.site-header{ padding-top: 10px; }.site-header{ padding-bottom: 10px; }.themeum-navbar-header .themeum-navbar-brand img{width:130px; max-width:none;}.subtitle-cover h2{font-size:48px;color:#ffffff;}.breadcrumb>li+li:before, .subtitle-cover .breadcrumb, .subtitle-cover .breadcrumb>.active{color:#fff;}.subtitle-cover .breadcrumb a{color:#fff;}.subtitle-cover .breadcrumb a:hover{color:#fff;}.subtitle-cover{background:#33d3c0; padding:0px 0px; margin-bottom: 88px;}body{ background-color: #ffffff; }.btn.btn-backnow,input[type=submit],input[type="button"].wpneo-image-upload,
                            input[type="button"].wpneo-image-upload-btn,input[type="button"]#addreward,.wpneo-edit-btn,
                            .wpneo-image-upload.float-right,.wpneo-save-btn,.wpneo-cancel-btn,
                            .dashboard-btn-link,#wpneo_active_edit_form,#addcampaignupdate,
                            .wpneo_donate_button,.wpneo-profile-button,.select_rewards_button,
                            .woocommerce-page #payment #place_order,.btn.btn-white:hover,
                            .btn.btn-border-backnow:hover,.btn.btn-border-white:hover,.woocommerce input.button,
                            input[type="submit"].wpneo-submit-campaign{ background-color: #33d3c0; border-color: #33d3c0; color: #fff !important; }.backnow-login-register a.backnow-dashboard{ background-color: #33d3c0; }.btn.btn-backnow:hover,input[type=submit]:hover,input[type="button"].wpneo-image-upload:hover,input[type="button"].wpneo-image-upload-btn:hover,
                        input[type="button"]#addreward:hover,.wpneo-edit-btn:hover,
                        .wpneo-image-upload.float-right:hover,.wpneo-save-btn:hover,
                        .dashboard-btn-link:hover,#wpneo_active_edit_form:hover,#addcampaignupdate:hover,
                        .wpneo_donate_button:hover,.wpneo-profile-button:hover,.select_rewards_button:hover,
                    .woocommerce-page #payment #place_order:hover,
                    input[type="submit"].wpneo-submit-campaign:hover{ background-color: #33d3c0; border-color: #33d3c0; color: #fff !important; }.header-solid .common-menu-wrap .nav>li.menu-item-has-children:after, .header-borderimage .common-menu-wrap .nav>li.menu-item-has-children:after, .header-solid .common-menu-wrap .nav>li>a, .header-borderimage .common-menu-wrap .nav>li>a,
                    .header-solid .common-menu-wrap .nav>li>a:after, .header-borderimage .common-menu-wrap .nav>li>a:after,.backnow-search{ color: #676767; }.header-solid .common-menu-wrap .nav>li>a:hover, .header-borderimage .common-menu-wrap .nav>li>a:hover,.header-solid .common-menu-wrap .nav>li>a:hover:after, .header-borderimage .common-menu-wrap .nav>li>a:hover:after,
                .backnow-search-wrap a.backnow-search:hover{ color: #33d3c0; }.header-solid .common-menu-wrap .nav>li.active>a, .header-borderimage .common-menu-wrap .nav>li.active>a{ color: #33d3c0; }.common-menu-wrap .nav>li ul{ background-color: #fff; }.common-menu-wrap .nav>li>ul li a,.common-menu-wrap .nav > li > ul li.mega-child > a{ color: #676767; border-color: #eef0f2; }.common-menu-wrap .nav>li>ul li a:hover,
                .common-menu-wrap .sub-menu li.active a,.common-menu-wrap .sub-menu li.active.mega-child .active a,
                .common-menu-wrap .sub-menu.megamenu > li.active.mega-child > a,.common-menu-wrap .nav > li > ul li.mega-child > a:hover,.common-menu-wrap .nav>li.current-menu-parent.menu-item-has-children > a:after,.common-menu-wrap .nav>li.current-menu-item.menu-item-has-children > a:after { color: #33d3c0;}.common-menu-wrap .nav>li > ul::after{ border-color: transparent transparent #262626 transparent; }.bottom{ background-color: #26262b; }.bottom .widget ul li a{ color: #6e6e6e; }.bottom-wrap{ padding-top: 58px; }.bottom-wrap{ padding-bottom: 58px; }#footer{ background-color: #26262b; }#footer{ padding-top: 30px; }#footer{ padding-bottom: 30px; }.footer-copyright,.footer-copyright a{ color: #6e6e6e; }body.error404,body.page-template-404{
                    width: 100%;
                    height: 100%;
                    min-height: 100%;}


@charset "utf-8";.theChampLoginButtonBackground,.theChampLoginButtonText{font-variant:initial!important;font-size:11px!important}.theChampGoogleLogin{display:block!important}ul.the_champ_login_ul li{float:none!important}.theChampLoginButtonBackground{width:168px!important;height:40px!important;clear:both!important;color:#fff!important;margin-bottom:5px!important;cursor:pointer!important;font-weight:700!important;line-height:40px!important;margin-right:10px!important;border-radius:2px!important}.theChampLoginButtonText{margin-left:2px!important;padding-left:13px!important;border-left:1px solid rgba(102,102,102,.2)!important;float:left!important;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif!important}.theChampLoginButtonBackground i{height:20px!important;width:20px!important;margin-top:10px!important;margin-left:4px!important;float:left!important}.theChampFacebookLoginBackground{background-color:#3C589A}.theChampGoogleLoginBackground{background-color:#dd4b39}.theChampTwitterLoginBackground{background-color:#55acee}.theChampLinkedinLoginBackground{background-color:#0077B5}.theChampSteamLoginBackground{background-color:#393939}.theChampInstagramLoginBackground{background-color:#527FA4}.theChampLiveJournalLoginBackground{background-color:#00b0ea}.theChampVkontakteLoginBackground{background-color:#5E84AC}.theChampXingLoginBackground{background-color:#00797D}.theChampTwitchLoginBackground{background-color:#6441A5}.theChampGoogleLoginSvg{background:url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-1%209%2080%2080%22%3E%3Cpath%20d%3D%22M%2051.22877660575707%2038.19080770219705%20A%2017%2017%200%201%200%2056%2050.00000000000001%20h%20-17%22%20stroke%3D%22%23fff%22%20stroke-width%3D%228%22%20fill%3D%22none%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E) center center no-repeat!important}
.the_champ_login_ul{padding: 0;}
.the_champ_login_ul li{list-style: none}
